<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.millet.z_basic">

    <application>

        <!--引导页-->
        <activity
            android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait" />

        <!--图片预览-->
        <activity
            android:name=".ui.activity.ImagePreviewActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.blankj.utilcode.util.PermissionUtils$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:theme="@style/ActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.utilcode.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/util_code_provider_paths" />
        </provider>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
